/gradlew.bat
*.properties
/.navigation
/.gradle
/gradle
.idea
.DS_Store
/build
/captures
#.groject
#.claspath
#./idea/vcs.xml
#./settings
#app/.classpath
#app/.project
#app/.settings
*.iml
*.rar
*.zip
*.log
