<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cmax.bodysheild" >

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application

        android:launchMode="singleTop"
        android:name=".AppContext"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:alwaysRetainTaskState= "false"
        android:excludeFromRecents= "true"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".activity.WelcomeActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.DeviceActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" >
        </activity>
        <activity
            android:name=".activity.RealtimeLineChartActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light" />
        <activity
            android:name=".activity.TemperatureInfoActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />    <activity
            android:name=".activity.RegisterActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
  <activity
            android:name=".activity.login.LoginActivity2"

            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name=".activity.login.LoginActivity"
            android:label="@string/title_activity_login"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" />
        <activity
            android:name=".activity.TemperatureHistoryInfoActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />

        <service
            android:name=".bluetooth.BluetoothService"
            android:enabled="true" />
        <service
            android:name=".alert.AlertService"
            android:enabled="true" />

        <activity android:name=".activity.UserListActivity" >
        </activity>
        <activity
            android:name=".activity.SettingActivity"
            android:label="@string/title_activity_setting"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustUnspecified|stateHidden" >
        </activity>
        <activity
            android:name=".activity.DifferentMenuActivity"
            android:label="DifferentMenuActivity" >
        </activity>
        <activity
            android:name=".activity.SimpleActivity"
            android:label="SimpleActivity" >
        </activity>
        <activity
            android:name=".activity.UserGuideActivity"
            android:label="@string/title_activity_user_guide" >
        </activity>
        <activity
            android:name=".activity.FeedbackActivity"
            android:label="@string/title_activity_feedback" >
        </activity>
        <activity
            android:name=".activity.AboutUsActivity"
            android:label="@string/title_activity_about_us" >
        </activity>
        <activity android:name=".activity.user.UserProfileEditActivity"></activity>
        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            />
    </application>

</manifest>
